.item-menu-group .v-list-item--active, .item-menu-group .v-list-item--active div, .item-menu-group .v-list-item--active span {
    background-color: #F73903 !important;
    color: white;
}

.v-list-group__items .v-list-item {
    padding: 10px !important;
}

.menu-title-group {
    color: #03B1CA;
    /* color: #F73903; */
}

.fileText {
    text-decoration: none;
    color: #03B1CA;
    font-weight: 400;
    /* min-height: 500px; */
    /* min-width: 500px; */
  }